<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "https://diplabout.herokuapp.com/uploader" method = "POST"
         enctype = "multipart/form-data">
<label for="myfile1">B/w .tif:</label>
<input type="file" id="myfile1" name="myfile1">
<br>
<img src="https://people.math.sc.edu/Burkardt/data/tif/cameraman.png" alt="black and white .tif" width="150"
     height="150">
<br>
<label for="myfile2">color .tif:</label>
<input type="file" id="myfile2" name="myfile2">
<br>
<img src="https://people.math.sc.edu/Burkardt/data/tif/forest.png" alt="Italian Trulli" width="150"
     height="150">
<br>
<label for="myfile3">color.png:</label>
<input type="file" id="myfile3" name="myfile3">
<br>
<img src="https://people.math.sc.edu/Burkardt/data/tif/canoe.png" alt="Italian Trulli" width="150"
     height="150">
<br>
<label for="myfile4">color.png:</label>
<input type="file" id="myfile4" name="myfile4">
<br>
<img src="https://people.math.sc.edu/Burkardt/data/tif/leaves.png" alt="Italian Trulli" width="150"
     height="150">
<br>
<label for="myfile5">B/W.png</label>
<input type="file" id="myfile5" name="myfile5">
<br>
<img src="https://people.math.sc.edu/Burkardt/data/tif/totem.png" alt="Italian Trulli" width="150"
     height="150">
<br>
    <input type = "submit"/>
</form>
</body>
</html>